@model VonderkWEB.Models.Product

@{
    ViewBag.Title = "Eliminar";
}

<div class="content">

    <h2>Eliminar</h2>

    <h3>Seguro desea eliminar el producto?</h3>
    <div>

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>


        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Eliminar" class="btn btn-default" />

            </div>
        }
    </div>

    @Html.ActionLink("Vovler al listado", "Index")
</div>
