@model IEnumerable<VonderkWEB.Models.Work>

@{
    ViewBag.Title = "Index";
}

<div class="content">


    <section id="trabajos">
        <div class="content">
            <h1 data-easy-reveal="fade-in-up">Novedades</h1>


            <div class="product-list" data-easy-reveal="fade-in-up">

                <ul>

                    @foreach (var item in Model)
                    {
                        var p = item.WorkAssets.Where(x => x.AssetType == "IMG").OrderBy(d => d.SortOrder).FirstOrDefault();
                        if (p != null)
                        {
                            <li class="@Html.DisplayFor(modelItem => item.Name)">
                                <a href="@Url.Action("Details", "Works", new {id= item.WorkID})">
                                    <img src="~/Images/Works/@item.WorkID/@p.FileName" width="100" height="100" />
                                    <span>@Html.DisplayFor(modelItem => item.Name)</span>
                                </a>
                            </li>
                        }



                    }
                </ul>


            </div>

        </div>
    </section>


</div>

