
@{
    ViewBag.Title = "Inspiracion Index";
}




<div class="content">

    <h2>Actualizar imagenes inspiración</h2>

    <form role="form" method="post" action="/Slides/InspiracionIndex" enctype="multipart/form-data">

        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })



            @*-----------------------------------------------/UPLOAD multiple IMAGE TEST/------------------------------------------------------------------------------------------*@
            <div class="row">
                <div class="col-25">
                    Imagen 1 <br /><b>(tamaño 100px x 100px)</b>
                </div>
                <div class="col-75">
                    <input type="file" multiple="multiple" id="firstImage" name="firstImage" data-buttonname="btn-primary" data-input="false" data-buttontext="Buscar archivo">
                </div>
            </div>

            <div class="row">
                <div class="col-25">
                    Imagen 2 <br /><b>(tamaño 100px x 100px)</b>
                </div>
                <div class="col-75">
                    <input type="file" multiple="multiple" id="secondImage" name="secondImage" data-buttonname="btn-primary" data-input="false" data-buttontext="Buscar archivo">
                </div>
            </div>

            <div class="row">
                <div class="col-25">
                    Imagen 3 <br /><b>(tamaño 100px x 100px)</b>
                </div>
                <div class="col-75">
                    <input type="file" multiple="multiple" id="thirdImage" name="thirdImage" data-buttonname="btn-primary" data-input="false" data-buttontext="Buscar archivo">
                </div>
            </div>

            <div class="row">
                <div class="col-25">
                    Imagen 4 <br /><b>(tamaño 100px x 100px)</b>
                </div>
                <div class="col-75">
                    <input type="file" multiple="multiple" id="fourthImage" name="fourthImage" data-buttonname="btn-primary" data-input="false" data-buttontext="Buscar archivo">
                </div>
            </div>


            @*------------------------------------------------/END multiple IMAGE TEST/-----------------------------------------------------------------------------------------*@

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Actualizar" class="btn btn-default" />
                </div>
            </div>
        </div>

    </form>

</div>




