
@{
    ViewBag.Title = "Worldwide";
}


<section class="top-space" id="empresa">
    <div class="content">
        <div class="categoria-min"><a href="#">Grupo Vonderk</a></div>
        <h1>La empresa</h1>
        <div class="descripcion info" data-easy-reveal="fade-in-up">
            <p>
                <strong>Vonderk</strong> es una empresa moderna, miembro de una multinacional con sede en Hong Kong. Se dedica a comercializar artefactos de iluminación led de alta gama.<br /><br />
                Los productos marca <strong>Vonderk</strong> conjugan el diseño con las ventajas de la iluminación led: bajo consumo, eficiencia energética y mantenimiento mínimo.
                Vonderk está presente en locales de iluminación en las capitales más importantes del mundo.<br />
                Vonderk refleja el talento de un equipo de diseñadores de diferentes nacionalidades especializados en artefactos de iluminación.
            </p>
        </div>
    </div>
</section>
<section id="mundo" class="bk-grey" data-easy-reveal="fade-in-up">
    <div class="content">
        <h1>VK en el mundo</h1>
        <div class="mundo"><img src="~/Images/mundo.png" width="769" height="390" alt="Vonder en el mundo" /> </div>
    </div>
</section>